%p
  RubyKaigi Advent Calendar 2011は、RubyKaigi 2011の会期の前にRuby関連イベントを独自に開催してもらって、連続協賛イベントにする試みです。例えるなら、12月にクリスマスを楽しみに待つために
  != link_to 'プログラミングTipsを連ねるAdvent Calendar', 'http://gihyo.jp/news/info/2010/12/0102'
  があるように、7月に「最後のRubyKaigi」を楽しみに待つための、Advent Calendar があるといいなと思ってこのページをつくりました。
%p
  != link_to 'RubyKaigi Advent Calendar 2011', 'http://rubykaigi.tdiary.net/20110512.html#p01'
  の主旨に賛同いただけるイベント主催者のかたは、
  != link_to 'リンク先', 'http://rubykaigi.tdiary.net/20110512.html#p01'
  の「協賛イベントとしての参加資格と注意事項」をお読みのうえ、githubのpull request(推奨)またはメールでご連絡ください。
%p
  たくさんのイベントの参加をお待ちしています。
