%p
  Would you like to join this Advent Calendar?
  Please fork
  != link_to 'ruby-no-kai/rubykaigi', 'https://github.com/ruby-no-kai/rubykaigi'
  and send us a pull request :
%p
  != link_to '#{Rails.root}/db/2011/advent_events.yml', 'https://github.com/ruby-no-kai/rubykaigi/blob/master/db/2011/advent_events.yml'