#advent_events ul {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    background: #CCC;
    margin: 5px 0 5px 0;
    padding: 0;
    border: 2px solid #000;
    white-space: nowrap;
    background-color: rgba(255, 255, 255, 0.3);
    div {
      padding: 0.4em;
    }
    .summary {
      background-color: rgba(138, 135, 134, 0.3);
      font-weight: bold;
      border-bottom: 1px dotted #999;
    }
    .summary a:hover{
      color: #160f0d;
    }
    .time {
      font-size: 0.8em;
      margin: 0 0 0 1em;
      padding-top: 0.8em;
    }
    .location {
      font-size: 0.8em;
      margin: 0 0 0 1em;
    }
    .url {
      font-size: 0.8em;
      margin: 0 0 0 1em;
      padding-bottom: 0.8em;
    }
	.hosted_by {
      font-size: 0.8em;
      margin: 0 0 0 1em;
	}
  }

  li.todays_event .summary {
    background-color: rgba(20, 20, 20, 0.8);
    color: rgba(255, 255, 255, 0.8);
  }
}

#other_formats {
  margin-top: -1em;
  text-align: right;
}
