@import "mixin";

#advent_events ul {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    background: #CCC;
    margin: 5px 0 5px 0;
    padding: 0;
    border: 2px solid #000;
    white-space: nowrap;
    background-color: rgba(255, 255, 255, 0.3);
    div {
      padding: 0.4em;
    }
    .summary {
      background-color: rgba(138, 135, 134, 0.3);
      border-bottom: 1px dotted #999;
    }
    .summary a {
      font-weight: bold;
    }
    .summary a:hover{
      color: #160f0d;
    }
    .time {
      font-family: 'Oswald', arial, serif; 
      letter-spacing: 1px;
      @include radius(20,20,20,20);
      @include box_shadow(-1,-1,0.5,'#453f3d');
      width: 350px;
      color: #fff;
      text-align: center;
      margin: 7px;
      padding: 5px;
      background :#a29f9e;
    }
    .location {
      font-size: 0.8em;
      margin: 0 0 0 1em;
    }
    .url {
      font-size: 0.8em;
      margin: 0 0 0 1em;
      padding-bottom: 0.8em;
    }
	.hosted_by {
      font-size: 0.8em;
      margin: 0 0 0 1em;
	}
  }

  li.todays_event .summary {
    background: #e61f19;
    a {
      color: #fff; }
  }
}

#other_formats {
  margin-top: -1em;
  text-align: right;
}
