@import "mixin";

/*--- default tag setting ----------------------------------------------*/

* {
  color: #160f0d;
  margin: 0px;
  padding: 0px;
  font-weight: normal;
  font-family: "ÉqÉâÉMÉmäpÉS Pro W3", "Hiragino Kaku Gothic Pro", "ÉÅÉCÉäÉI", Meiryo, Osaka, "ÇlÇr ÇoÉSÉVÉbÉN", "MS PGothic", sans-serif; }

html {
  background: #f5f2ed url(/2011/images/commonBodyBg.png) top center repeat; }

body {
  border-top: 7px solid #160f0d;
  line-height: 120%; }

a {
  &:link, &:visited, &:active {
    color: #5b5755; }
  &:hover {
    color: #8a8786; }
  &:link img,
  &:visited img,
  &:hover img,
  &:active img {
    text-decoration: none;
    border: none; } }

article,
aside,
dialog,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

address {
  font-style: normal; }

hr {
  margin: 10px 0; }

nav {
  margin: 0;
  padding: 0;
  span {
    height: 32px;
    margin-right: 10px;
    color: #efeae8; }
  .name {
    color: #efeae8;
    margin: 0 10px;
    float: right;
    line-height: 170%; }
  ul li {
    line-height: 200%;
    background: url(/2011/images/navigationMark.png) no-repeat top left;
    padding: 0 5px 0 20px;
    list-style: none;
    margin-right: 20px; }
  a {
    &:link,
    &:visited,
    &:active {
      color: #efeae8;
      text-decoration: none; }
    &:hover {
      color: #efeae8;
      text-decoration: underline; } } }

article p {
  margin-bottom: 10px; }

h2,
h3,
h2 time {
  color: #160f0d;
  font-weight: bold;
  margin: 15px 0 10px 0;
  a {
    font-weight: bold; } }

h2 {
  padding-bottom: 10px;
  background: url(/2011/images/commonHeader2Bg.png) bottom center no-repeat; }

h3 {
  padding-bottom: 5px;
  border-bottom: 1px dotted #999; }

strong {
  font-weight: bold; }

/*--- common id, class ----------------------------------------------*/

.left {
  text-align: left; }

.center {
  text-align: center; }

.right {
  text-align: right; }

.fleft {
  float: left; }

.fright {
  float: right; }

.cboth {
  clear: both; }

.cleft {
  clear: left; }

.cright {
  clear: right; }

.linkMark {
  @include mark("linkMark.png"); }

.listMark {
  margin-bottom: 10px;
  li {
    @include mark("listMark.png");
    margin-bottom: 5px; } }

.avatar {
  clear: left;
  img {
    float: left;
    margin: 0 5px 0 0; }
  p {
	vertical-align: middle;
	padding-top: 12px;
    margin-top: 10px; }}

.backToTop {
  text-align: right; }

.icon a img {
  margin-right: 5px; }

.rss {
  float: right; }
