@import "mixin";

/*--- default tag setting ----------------------------------------------*/

aside {
  padding: 5px;
  min-height: 300px;
  background-color: rgba(255, 255, 255, 0.3);
  border: 7px solid #fff;
  height: 400px;
  width: 280px;
  float: right;
  ul li {
    @include mark("linkMark.png");
    margin: 10px; } }

h1 {
  color: #160f0d;
  padding-left: 20px;
  margin-bottom: 20px;
  background: url(/2011/images/commonHeader1Bg.png) top center no-repeat;
  height: 80px;
  line-height: 80px; }

/*--- common id, class ----------------------------------------------*/

.twtr-ft {
  background: #d0cfcf; }

#main {
  width: 660px;
  h2,
  h3 {
    margin-bottom: 20px; } }

.btn a { 
  @include btnHover;
  width: 320px;
	background: #fff url(/2011/images/commonBtn320x90.png) no-repeat;}

.btnText90 {
  @include btnHover;
	background: #fff url(/2011/images/commonBtn320x90.png) no-repeat;
	width: 320px;
	height: 90px;
	line-height: 90px;
	text-align: center;
	font-size: 18px; }

/*--- header ----------------------------------------------*/

#topBarLogo {
  padding-left: 0px;
  float: left; }

#topBarLang {
  clear: right;
  float: right;
  padding-top: 5px; }

#topBar {
  border-bottom: none;
  background: url(/2011/images/commonTopBg.png) top center no-repeat;
  padding: 0;
  width: 980px;
  height: 80px;
  margin: 0 auto;
  nav {
    max-width: 700px;
    white-space: nowrap;
    background: #160f0d;
    margin: 0;
    @include radius(0,0,7,7);
    float: right;
      padding-left: 20px;
      color: #efeae8; }
    ul {
      float: right;
      margin: 0 0 0 5px;
      padding: 0; }
    li {
      display: inline;
      line-height: 170%; } }

#global {
  clear: both;
  background: #160f0d;
  height: 60px;
  nav {
    width: 980px;
    margin: 0 auto; }
  li {
    float: left;
    display: block;
    height: 60px;
    padding-left: 70px;
    line-height: 60px; }
  .informations {
    background: url(/2011/images/commonGlobalNavInformations.png) top left no-repeat; }
  .registration {
    background: url(/2011/images/commonGlobalNavRegister.png) top left no-repeat; }
  .forAttendees {
    background: url(/2011/images/commonGlobalNavForAttendees.png) top left no-repeat; }
  .sponsors {
    background: url(/2011/images/commonGlobalNavSponsors.png) top left no-repeat; } }

/*--- others ----------------------------------------------*/

#ruby h2,
#platinum h2,
#gold h2,
#individual h2,
#index section h2 {
  background: none;
  padding-bottom: 5px;
  border-bottom: 1px dotted #999; }

#content {
  clear: both;
  width: 980px;
  margin: 0 auto;
  margin-top: 10px;
  padding: 0;
  display: table;
  background: url(/2011/images/commonHeaderBg.png) top center no-repeat;
  article {
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.3); } }

/*--- index ----------------------------------------------*/

#index {
  header {
    clear: both;
    width: 980px;
    margin: 0 auto;
    padding: 10px 0;
    background: url(/2011/images/commonHeaderBg.png) no-repeat top center;
    h1 {
      padding: 0;
      margin: 0;
      background: none;
      height: 100px; } 
    @include clearfix; }
  #news,
  #twitter {
    padding: 5px;
    height: 357px;
    background: #fff;
    border-top: 5px solid #160f0d;
    overflow: hidden;
    border-bottom: 5px solid #fff; }
  #news,
  #photos {
    height: 380px;
    float: left; }
  #news {
    width: 630px; }
  #twitter {
    width: 310px;
    float: right; }
  #registration {
    width: 320px;
    float: right;
    ul {
      margin-bottom: 20px; }
    p {
      margin: 0 0 3px 0; } }
  section h2 {
    padding: 0;
    margin: 0; }
  #news {
    ul {
      margin: 5px 0;
      padding: 0 0 10px 0;
      li {
        @include mark("indexNewsMark.png"); } }
    time {
      display: block; } }
  p {
    margin: 0px; }
  #twitter {
    article {
      clear: both;
      font-size: 0.75em;
      margin-bottom: 20px;
      padding-bottom: 5px;
      &:last-child {
        border-bottom: none; }
      p a img {
        float: left;
        margin: 0 10px 10px 0; } } }
  time {
    font-family: 'Geo', arial, serif;
    font-size: 90%; }
  #users .linkMark {
    clear: both;
    margin: 7px 0;
    display: block; } 
  @include clearfix; }

/*--- about ----------------------------------------------*/

#about {
  #photographers {
    p {
      text-align: center;
      margin-right: 10px;
      width: 130px;
      height: 50px;
      padding: 5px;
      border: 1px solid #d0cfcf;
      float: left; } 
    @include clearfix; } }


#signin {
  margin-bottom: 30px;
   .btn a {
     margin: 0 5px 20px 0;    
     width: 120px;
     float: left; } 
   input[name=openid_identifier] {
     padding-left: 20px;
     background: #fff url(/images/openid_logo.gif) 2px center no-repeat; } }

/*--- programs ----------------------------------------------*/

#programs {
  table {
    @include table_border;
    width: 980px;
    td p {
    @include mark("programsSpeakerMark.png"); }
    h3 {
      border-bottom: none; }
    .hours {
      white-space: nowrap;
      background-color: rgba(138, 135, 134, 0.3); }
    .hall {
      width: 400px; } } }

#abstract {
  float: left;
  width: 540px;
  margin-right: 10px; }
#speaker {
  float: right;
  width: 400px; }

a.tip {
  position: relative;
  text-decoration: none;
  span {
    display: none;
    position: absolute;
    top: 30px;
    left: -200px;
    width: 400px;
    padding: 10px;
    z-index: 100;
    background-color: rgba(22, 15, 13, 0.9); 
    color: #fff;
    @include radius(5, 5, 5, 5);
    text-decoration: none;
    img {
      float: left;
      margin: 0px 10px 10px 0px;
      opacity: 1; } } }

a:hover.tip {
  cursor: pointer;
  span {
    display: block; } }

* html a:hover.tip span {
  display: none; }

/*--- sponsors ----------------------------------------------*/

#sponsors .registration {
  float: left;
  margin-right: 10px; }

#sponsorsList {
  width: 980px;
  margin: 0 auto;
  clear: both;
  overflow: hidden;
  section h2 {
    font-size: 1em;
    color: #535353;
    margin: 0 0 5px 0;
    padding: 0; }
  li {
    float: left;
    list-style: none;
    margin-right: 4px;
    padding: 0; }
  #ruby {
    float: left;
    margin-right: 8px; }
  #platinum {
    float: right; }
  #gold {
    clear: both;
    li {
      margin-right: 8px; } }
  #individual {
    clear: both; 
    li {
    margin-right: 4px; } } }

/*--- sponsors_ruby ----------------------------------------------*/

#sponsors_ruby_wanted {
  article{
    @include clearfix; }
  .logo {
    float: left;
    margin: 0 20px 20px  0; }
  #profile {
    float: right;
    width: 800px; }
  .sponsorsRubyImg {
    background: #fff;
    padding: 7px; } }

/*--- sponsors_platinum ----------------------------------------------*/

#sponsors_platinum {
  article{
    @include clearfix; }
  .logo {
    float: left;
    margin: 0 20px 20px 0; } }

/*--- sponsors_gold ----------------------------------------------*/

#sponsors_gold {
  article{
    @include clearfix; }
  .logo {
    float: left;
    margin: 0 20px 20px 0; } }

/*--- archives ----------------------------------------------*/

#archives #content {
  article{
    @include clearfix; }
  div {
    float: left;
    margin: 20px 5px 5px 5px;
    h2 {
      font-size: 110%; } } }

/*--- coming_soon ----------------------------------------------*/

#coming_soon h1 {
  clear: both;
  width: 980px;
  text-align: center;
  background: none;
  padding-top: 100px;
  height: 400px; }

/*--- footer ----------------------------------------------*/

footer {
  clear: both;
  background: url(/2011/images/commonFooterBg.png) top center repeat-x;
  text-decoration: none;
  padding: 10px;
  margin-top: 10px;
  font-size: 70%;
  @include clearfix; 
  nav {
    div {
      float: left;
      width: 190px;
      border-right: #5b5c55 1px solid collapse;
      border-left: #5b5c55 1px solid; }
    li {
      @include mark("footerLinkMarkS.png");
      color: #160f0d;
      margin-left: 5px; }
    div h2 {
      font-size: 100%;
      background: none;
      border-bottom: none;
      margin: 2px 0;
      padding: 0;
      a { 
        @include mark("footerLinkMarkL.png");
        padding-top: 4px;
        font-weight: bold; } }
    width: 960px;
    margin: 0 auto; }
  p,
  address,
  .icon {
    padding-left: 5px;
    color: #160f0d; }
  a {
    &:link,
    &:visited,
    &:active {
      color: #160f0d;
      text-decoration: none; }
    &:hover {
      color: #5b5c55;
      text-decoration: underline;
      img {
        text-decoration: none; } } } }
