div.proceed_btn {
}

img.proceed_btn {
  display: block;
  float: right;
}

dl {
  line-height: 1.4;

  dt {
    font-size: 16px;
  }

  dd {
    margin-top: 8px;
    font-size: 22px;
  }

}

form input {
  padding: 2px 4px;
  font-size: 22px;
}