%p
  RubyKaigi 2011 is seeking organizations to sponsor the conference. RubyKaigi is an international conference, attracting participants and speakers from many countries, including Japan, the United States, China, Australia, Germany, Canada, South Africa, Egypt, France and many others. RubyKaigi is a fantastic opportunity to promote your organization.

%p
  For further details, please refer to the PDF linked below. Please direct all enquiries to 2011 AT rubykaigi.org.
%p
  %a.linkMark{ :href => "/2011/rk11prospectus.pdf", :target => "_blank"}
    #{t('rubykaigi2011')} #{t('sponsor_prospectus')}(PDF)
%h2
  Individual Sponsorship Program for RubyKaigi 2011
%p
  For RubyKaigi 2011, we are calling for individual sponsors. We'd be happy if you helped to support RubyKaigi 2011 through the individual sponsorship program.
%br
%p Program Details:
%ul.listMark
  %li Donation: Minimum 15,000 JPY. No maximum limits :)
  %li Payment: Credit card via PayPal.
%br
%p Program Benefits:
%ul.listMark
  %li 1 pass to RubyKaigi 2011.
  %li No pass to the official party (to attend, you must buy a ticket for the party separately).
  %li A mention of your name and link to your website in the individual sponsor section of RubyKaigi 2011 web site.
%section.registration
  %h3 Become a indivisual sponsor
  %p.btn
    %a{:href => "/2011/#{current_locale}/registration#individual_sponsor"}
      %img{:alt => "#{t(:sponsors_registration_individual)}", :src => "/2011/images/sponsorsBtnBecomeAIndividualSponsor.png"}
%p.cboth
  For RubyKaigi 2011, we are calling for individual sponsors. We'd be happy if you helped to support RubyKaigi 2011 through the individual sponsorship program.
