%p= link_to t(:neribun_with_location), 'http://www.neribun.or.jp/'

%p
  %a.linkMark{:href => "http://maps.google.co.jp/maps/ms?ie=UTF8&brcurrent=3,0x6018ed0919f73af7:0x7c22c5fa95e45acb,0&hl=ja&source=embed&msa=0&msid=111740698347778329061.000481ccda497fef7135d&ll=35.738701,139.654073&spn=0.003483,0.004281&z=17", :target => "_blank"} 周辺地図
  %a.linkMark{:href => "http://www.neribun.or.jp/web/02_seat/n_index_02.html", :target => "_blank"} アクセスマップ

%p 最寄り駅は練馬駅です。西武池袋線を使って、池袋駅から練馬駅まで乗車（10分程度）すると便利です。

%h3 主要駅から池袋駅までの行き方
%ul.listMark
  %li 東京駅から：東京メトロ丸の内線を使って東京駅から池袋駅まで移動し、西武池袋線池袋駅まで歩く。
  %li 羽田空港から：高速バスを使って、羽田空港国際線ターミナルから池袋駅東口1番まで移動し、西武池袋線池袋駅まで歩く。
  %li 成田空港から：高速バスを使って、成田空港第1 or 第2ターミナルからホテルメトロポリタン or サンシャインシティプリンスホテルまで移動し、西武池袋線池袋駅まで歩く。
