%p 会場近くにはホテルがありませんので、西武池袋線池袋駅近くに宿泊するのが便利です。

%h3 旅館
%p.linkMark
  %a{ :href => "http://www.kimi-ryokan.jp/", :target => "_blank"} 貴美旅館

%h3 ビジネスホテル
%p.linkMark
  %a{ :href => "http://www.sakura-hotel-ikebukuro.com", :target => "_blank"} サクラホテル池袋
%p.linkMark
  %a{ :href => "http://www.apahotel.com/hotel/shutoken/14_ikebukuro-eki-kitaguchi/index.html", :target => "_blank"} アパホテル〈池袋駅北口〉
%p.linkMark
  %a{ :href => "http://www.superhotel.co.jp/h_links/ikebukuro/ikebukuro.html", :target => "_blank"} スーパーホテルcity池袋北口

%h3 シティホテル
%p.linkMark
  %a{ :href => "http://www.metropolitan.jp/", :target => "_blank"} ホテルメトロポリタン
%p.linkMark
  %a{ :href => "http://www.princehotels.co.jp/sunshine/", :target => "_blank"} サンシャインシティプリンスホテル
