%p= t(:neribun_with_location)

%p.linkMark
  %a{:href => "http://maps.google.co.jp/maps/ms?ie=UTF8&brcurrent=3,0x6018ed0919f73af7:0x7c22c5fa95e45acb,0&hl=en&source=embed&msa=0&msid=111740698347778329061.000481ccda497fef7135d&ll=35.738701,139.654073&spn=0.003483,0.004281&z=17", :target => "_blank"} Map

%p.linkMark
  %a{:href => 'http://www.neribun.or.jp/'} Official website (in Japanese)
