%p
  We recommend you to stay hotels near by 
  %a{ :href => 'http://maps.google.co.jp/maps?hl=ja&q=%E6%B1%A0%E8%A2%8B%E7%B7%9A%E6%B1%A0%E8%A2%8B%E9%A7%85&ie=UTF8&hq=&hnear=%E6%B1%A0%E8%A2%8B%E9%A7%85%E3%83%BB%E8%A5%BF%E6%AD%A6%E9%89%84%E9%81%93%EF%BC%8F%E6%B1%A0%E8%A2%8B%E7%B7%9A&gl=jp&ll=35.728921,139.710388&spn=0.009215,0.018325&z=16&brcurrent=3,0x60188d5bb9d45c6b:0x4f1c44deaf8c4d77,0', :target => '_blank' } Ikebukuro station on Ikebukuro line
  , 
  %a{ :href => 'http://www.seibu-group.co.jp/railways/tourist/english/index.html', :target => '_blank' } Seibu Railway.

%h3 Japanese-Style Inns
%p.linkMark
  %a{ :href => "http://www.kimi-ryokan.jp/", :target => "_blank"} Kimi Ryokan

%h3 Motels
%p.linkMark
  %a{ :href => "http://www.sakura-hotel-ikebukuro.com/index.php", :target => "_blank"} Sakura Hotel Ikebukuro
%p.linkMark
  %a{ :href => "http://www.apahotel.com/hotel/shutoken/14_ikebukuro-eki-kitaguchi/index.html", :target => "_blank"} APA Hotel Ikebukuro Station North Side (link to Japanese page)
%p.linkMark
  %a{ :href => "http://www.superhoteljapan.com/en/s-hotels/?7e84aa42ea0775100b731c855585d599=dad21450f8ba4957adda33dc05e16e9e#3", :target => "_blank"} Super Hotel City Ikebukuro Kitaguchi

%h3 Hotels
%p
  %a.linkMark{ :href => "http://www.metropolitan.jp/e/index.html", :target => "_blank"} Hotel Metropolitan
%p
  %a.linkMark{ :href => "http://www.princehotels.com/en/sunshine/", :target => "_blank"} Sunshine City Prince Hotel
