%p
  %a.linkMark{ :href => "http://www.metropolitan.jp/e/index.html", :target => "_blank"} Hotel Metropolitan
%p
  %a.linkMark{ :href => "http://www.princehotels.com/en/sunshine/", :target => "_blank"} Sunshine City Prince Hotel
