%ul
  %li
    %time{:datetime => "2011-04-25"} 2011-04-25
    %a{:href => "http://rubykaigi.tdiary.net/20110425.html"} RubyKaigi2011の"当日"ボランティアスタッフの募集を開始します
  %li
    %time{:datetime => "2011-04-02"} 2011-04-02
    %a{:href => "http://rubykaigi.tdiary.net/20110402.html"} RubyKaigi2011の開催に関する現状報告
