%ul
  %li
    %time{:datetime => "2011-05-27"} 2011-05-27
    %a{:href => "http://rubykaigi.tdiary.net/20110527.html#p02", :target => "_blank"}
      RubyKaigi call for Lightning Talk(LT)
  %li
    %time{:datetime => "2011-05-19"} 2011-05-19
    %a{:href => "http://rubykaigi.tdiary.net/20110519.html", :target => "_blank"}
      #{t(:canceled)}
  %li
    %time{:datetime => "2011-04-13"} 2011-04-13
    %a{:href => "http://rubykaigi.tdiary.net/20110413.html"} RubyKaigi planning memo for overseas
