%ul
  %li
    %time{:datetime => "2011-05-27"} 2011-05-27
    %a{:href => "http://rubykaigi.tdiary.net/20110527.html#p01", :target => "_blank"}
      Ruby会議2011 のライトニングトークを募集します
  %li
    %time{:datetime => "2011-05-19"} 2011-05-19
    %a{:href => "http://rubykaigi.tdiary.net/20110519.html", :target => "_blank"}
      #{t(:canceled)}
  %li
    %time{:datetime => "2011-04-02"} 2011-04-02
    %a{:href => "http://rubykaigi.tdiary.net/20110402.html"} RubyKaigi2011の開催に関する現状報告
