%ul
  %li
    %time{:datetime => "2011-05-28"} 2011-05-28
    %a{:href => "http://rubykaigi.tdiary.net/20100813.html#p01"}
      チケットの譲渡、利用者の変更方法について(2010の記述ですが2011も同様)
  %li
    %time{:datetime => "2011-05-27"} 2011-05-27
    %a{:href => "http://rubykaigi.tdiary.net/20110527.html#p01"}
      Ruby会議2011 のライトニングトークを募集します
  %li
    %time{:datetime => "2011-05-19"} 2011-05-19
    %a{:href => "http://rubykaigi.tdiary.net/20110519.html"}
      #{t(:canceled)}
