#content
  %h1
    #{t(:individual_sponsor)}
  %article
    %div.avatar
      %a{:href => "#", :target => "_blank"}
        %img{:alt => "", :src => "/2011/images/commonAvatar.png"}
      %p
        Name
        %br
        Website:
        %a.linkMark{:href => "#", :target => "_blank"} http://www.example.com
    %hr
    %div.avatar
      %a{:href => "#", :target => "_blank"}
        %img{:alt => "", :src => "/2011/images/commonAvatar.png"}
      %p
        Name
        %br
        Website:
        %a.linkMark{:href => "#", :target => "_blank"} http://www.example.com
    %hr
    %div.avatar
      %a{:href => "#", :target => "_blank"}
        %img{:alt => "", :src => "/2011/images/commonAvatar.png"}
      %p
        Name
        %br
        Website:
        %a.linkMark{:href => "#", :target => "_blank"} http://www.example.com
    %hr
    %div.avatar
      %a{:href => "#", :target => "_blank"}
        %img{:alt => "", :src => "/2011/images/commonAvatar.png"}
      %p
        Name
        %br
        Website:
        %a.linkMark{:href => "#", :target => "_blank"} http://www.example.com
    %hr
    %div.avatar
      %a{:href => "#", :target => "_blank"}
        %img{:alt => "", :src => "/2011/images/commonAvatar.png"}
      %p
        Name
        %br
        Website:
        %a.linkMark{:href => "#", :target => "_blank"} http://www.example.com
    %hr
    %div.avatar
      %a{:href => "#", :target => "_blank"}
        %img{:alt => "", :src => "/2011/images/commonAvatar.png"}
      %p
        Name
        %br
        Website:
        %a.linkMark{:href => "#", :target => "_blank"} http://www.example.com
    %hr
    %div.avatar
      %a{:href => "#", :target => "_blank"}
        %img{:alt => "", :src => "/2011/images/commonAvatar.png"}
      %p
        Name
        %br
        Website:
        %a.linkMark{:href => "#", :target => "_blank"} http://www.example.com
    %hr
    %div.avatar
      %a{:href => "#", :target => "_blank"}
        %img{:alt => "", :src => "/2011/images/commonAvatar.png"}
      %p
        Name
        %br
        Website:
        %a.linkMark{:href => "#", :target => "_blank"} http://www.example.com
    %hr
    %div.avatar
      %a{:href => "#", :target => "_blank"}
        %img{:alt => "", :src => "/2011/images/commonAvatar.png"}
      %p
        Name
        %br
        Website:
        %a.linkMark{:href => "#", :target => "_blank"} http://www.example.com
    %hr
    %div.avatar
      %a{:href => "#", :target => "_blank"}
        %img{:alt => "", :src => "/2011/images/commonAvatar.png"}
      %p
        Name
        %br
        Website:
        %a.linkMark{:href => "#", :target => "_blank"} http://www.example.com
    %hr
  != render :partial => 'shared/2011/back_to_top'

