%article
  %h2
    %a{:name => "community"}
      #{t(:community)}
  %p RubyKaigi is gaining recognition, the number of attendees from outside of Japan attended has been increasing each year. So, we have created a mailing list as a place to communicate among those attendees.
  %p Please join the list if you are planning to attend RubyKaigi 2011 from outside of Japan or you are interested in helping and communicating with Rubyists visiting from overseas.
  %h3 How to join the list
  %p Send an E-mail with the following information:
  %div.mailPlease
    %ul.listMark
      %li To： rk11-talk _at_ qwik.atdot.net
      %li Cc： kakutani _at_ rubykaigi.org
      %li Subject： Join the list
  %p yes, we also have <a href="http://qwik.atdot.net/rk11-list/">rk11-list</a>. we don't have rk11-dev nor rk11-core :)
  %h3 facebook Fan Page
  %p Here's RubyKaigi Fan Page on facebook.
  %p.btn
    %a{:href => "http://www.facebook.com/pages/RubyKaigi/204401496251843"}
      %img{:alt => "Check us out on facebook(facebookをチェック)", :height => "40", :src => "/2011/images/forAttendeesBtnFacebook.png", :width => "320", :height => "40"}
