%article
  %h2
    %a{:name => "community"}
      #{t(:community)}
  %p 日本 Ruby 会議が海外でも認知されつつあり、それにつれて海外からの Ruby 会議参加者が増えつつあります。そこで昨年から、海外参加者同士が連絡を取り合うための場として、日本 Ruby 会議 2011 海外参加者メーリングリストを用意しています。
  %p 海外から Ruby 会議 2011 に参加する方はもとより、海外から参加する Rubyist に興味のある日本の方も是非ご参加下さい。
  %h3 メーリングリストへの登録方法
  %p qwikを用いておりますので、下記要領でメールを送信してください。
  %div.mailPlease
    %ul.listMark
      %li To： rk11-talk _at_ qwik.atdot.net
      %li Cc： kakutani _at_ rubykaigi.org
      %li 件名： Join the list
  %p ※ メールアドレス中の_at_は@に読み替えてください。
  %p -talk があるなら -list も要るだろう、ということで今年は <a href="http://qwik.atdot.net/rk11-list/">rk11-list</a> も用意してあります。RubyKaig2011 に興味がある人どうしの交流に使ってください。日本語でどうぞ。なお、-dev と -core はありません。
  %h3 facebookファンページのご案内
  %p facebookのファンページを用意しました。以下よりご覧いただけます。
  %p.btn
    %a{:href => "http://www.facebook.com/pages/RubyKaigi/204401496251843"}
      %img{:alt => "Check us out on facebook(facebookをチェック)", :height => "40", :src => "/2011/images/forAttendeesBtnFacebook.png", :width => "320", :height => "40"}
