%meta{ "property" => "og:title", :content => "#{@title}" }
%meta{ "property" => "og:type", :content => "article" }
%meta{ "property" => "og:url", :content => "#{request.url}" }
%meta{ "property" => "og:image", :content => "http://rubykaigi.org/2011/images/commonIcon2011.png" }
%meta{ "property" => "og:site_name", :content => "#{t(:rubykaigi2011)}" }
%meta{ "property" => "og:app_id", :content => "162188720510104" }
