%h2
  %img{:alt => "", :height => "35", :src => "/2011/images/indexNewsHeader.png", :width => "250"}
%p.icon.rss
  != render :partial => 'shared/2011/rss'
  %p
    %a{:href => "http://rubykaigi.tdiary.net/"}
      %img{:alt => "Read more...", :height => "30", :src => "/2011/images/commonReadMore.png", :width => "100"}
