%article#party
  %h2
    %a{:name => "party"}
      #{t(:official_party)}
  %p 懇親会を下記の日程で開催します。本編とともに是非お楽しみください。
  %ul.listMark
    %li 日付： 2011年7月17日(日)
    %li 時間： 19時30分（受付開始）／20時00分～22時00分
    %li 場所： 池袋サンシャインシティ 28F サンシャインクルーズ・クルーズ
    %li 定員： 400名
    %li 価格： ￥5,000
  %p
    %img{:alt => "Coming Soon...", :src => "/2011/images/commonBtnComingSoon.png"}
