%article#party
  %h2
    %a{:name => "party"}
      #{t(:official_party)}
  %ul.listMark
    %li Dates: 2011-07-17(Sun)
    %li Hours: Open 19:30 / Starts 20:00 / Close 22:00
    %li Location: Ikebukuro Sunshine city 28F SUNSHINE CRUISE CRUISE
    %li Capacity: 400 people
    %li Price: 5,000 JPY
  %p
    %img{:alt => "Coming Soon...", :src => "/2011/images/commonBtnComingSoon.png"}
