%p
  %a.twitter-share-button{"data-count" => "horizontal", "data-lang" => "en", :href => "http://twitter.com/share"} Tweet
  %script{:src => "http://platform.twitter.com/widgets.js", :type => "text/javascript"}
