#content
  %h1= rubyist_name @rubyist

  %article
    != img_tag_for_usernavi(@rubyist, 80)
    <br />

    - if @rubyist == user
      %div (That's you!)

    %h2 Website
    %p
      - if (website = @rubyist.website).present?
        != link_to website, website, :rel => 'nofollow me'
      - else
        N/A

    - (2010..2011).each do |year|
      %h2
        RubyKaigi
        = year
      %ul.listMark
        - if @rubyist.contributions.present?
          - if @rubyist.individual_sponsor?(year) && !@rubyist.individual_sponsor.anonymous?
            %li [Individual Sponsor]
          - if @rubyist.staff?(year)
            %li [Staff]
          - if @rubyist.attendee?(year)
            %li [Attendee]
          - if @rubyist.party_attendee?(year)
            %li [Official Conference Party Attendee]
        - else
          %li (Nothing)
